.svgIcon{
    color: blue;
}
li.subMenuIcon{
    display: flex;
}
.subMenuContainer{
    background-color: #f0f0f0;
}
.subMenuContainer span{
    font-size: 14px;
    padding: 0;
}
.subMenuContainer svg{
    margin: 0 10px;
    font-size: 20px;
    padding: 0;
}
.mainDashLogo{
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
}
li:hover{
    transition: 0.6s;
    background-color: rgb(202, 255, 215);
    color:black;
    border-radius: 20px;
}
li.active span{
    font-weight: 900 !important;
    color: blue;
}
/* Create Sidebar Css */
.createSidebar{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.createSidebar svg{
    font-size: 35px;
    margin-top: 10px;
}
.textField{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 600px;
    margin: auto;
    padding: 10px;
}